html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
/*border: 0;*/  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Kalam:wght@700&family=Recursive&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
    border: 1px solid gray;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Recursive', sans-serif;
    line-height: 2;
    font-size: 1.5rem; 
    margin: 5%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Kalam', cursive;
    line-height: 3;
    font-size: 2.5rem; 
}

header, footer {
    background-color: blueviolet;
    color: white;
    width: 100%;
    padding: 3%;
}

nav {
    display: flex;
    flex-wrap: row;
    justify-content: flex-start;
}

nav a {
    color: white;
    background-color: navy;
    text-decoration: none;
    padding: .5% 3%;
    border: 1px solid black;
}

.headWrapper{
    display:flex;
    justify-content:space-around;
    padding:4% 0;
  }
  
.left{
    width:45%;
    display:flex;
    justify-content:center;
    align-items:center;
  }

.img{
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
  }

/*.left img{
    border-radius:50%;
  }*/

.right{
    width:45%;
    display:flex;
    justify-content:center;
    align-items:center;
  }

.right .text{
    text-align: left;
    width:100%;
  }

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.proj{
    width: 22%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.proj p {
    align-items: center;
    height: 100px;
    margin: 10px auto;
}






























/*.top-info {
    display: flex;
    justify-content: space-around;*
    padding: 4% 0;
    background-color: palegreen;
}

.top-img {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orchid;
}

img {
    height: 250px;
    object-fit: cover;
    width: 50%;
}

.top-text {
    width: 50%;
    display: flex;
}*/